body {
	background-color: lightblue;
}

.me {
	width: 20%;
	height: auto;
	float: left;
	padding: 10px;
	border: 2px dotted red;
	margin: 10px;
}

.col-md-5 {
	float: center;
	padding: 5px;
	border: 10px ridge purple;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 10px;
	background-color: lightyellow;
}

.col-md-11 {
	float: center;
	padding: 5px;
	border: 10px ridge purple;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	background-color: lightyellow;
}

.yikes {
	font-weight: bold;
	font-style: italic;
}